/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
- Letter spacing
-0.5px
0.75px
--- 02 COLORS
- Primary: #212529
- Tints:
#1971c2
#1864ab
#f8f9fa
##dee2e6
- Shades: 
#cf711f
#45260a
- Accents:

--- 05 SHADOWS
box-shadow: 1rem 1rem 6rem rgb(197, 196, 196);

--- 06 BORDER-RADIUS
Default: 10px

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px = 1 rem */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #212529;
  margin-bottom: 0;
  background-color: #f5f5f5;
}

header {
}
